@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;900&display=swap');

body {
  margin: 0;
  font-family: 'Alegreya', serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .input {
    @apply rounded h-10 p-2 mt-2;
  }

}